@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Kanit:wght@500&display=swap');

/* fonts */
/* font-family: 'Akshar', sans-serif;
font-family: 'Kanit', sans-serif; */

:root {
    --primary-color: #f3fcf7;
    --secondary-color: #0e1624;
    --hover-color: #7c5c74;
    --third-color: #9cb4b4;
    --extra-color: #747c48;
}

*::-webkit-scrollbar {
    width: 0;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

/* CSS reset */
body {
    background-color: #9cb4b4a9;
    padding: 0;
    margin: 0;
    font-family: monospace;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background: var(--third-color);
    padding: 0 1rem 0.5rem 1rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}

.brand {
    font-family: 'Kanit', sans-serif;
    display: flex;
    column-gap: 5px;
    letter-spacing: 3px;
    text-align: center;
    color: var(--primary-color);
    text-transform: uppercase;
    justify-content: center;
}
.logo {
    width: 23px;
    height: 23px;
    font-size: 1.5em;
    margin: 0.5em 0;
}
.brandName {
    margin: 0.5em 0;
    font-size: 1.25em;
}
.nav {
    display: flex;
    justify-content: center;
}

.nav > .nav-menu{
    list-style: none;
    padding: 0;
    margin: 0%;
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav > .nav-menu > .nav-item > .nav-link{
    font-family: 'Akshar', sans-serif;
    font-size: 1.25em;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--primary-color);
    padding-bottom: 3px;
    transition: .3s;
}
.nav > .nav-menu > .nav-item > .nav-link:hover {
    color: var(--secondary-color);
    box-shadow: var(--secondary-color) 0px 2px;
}

/* burger menu  */
.burger {
    display: none;
    margin-right: 25px;
}
.bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--primary-color);
}

@media only screen and (max-width:768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0;
    }
    .nav-menu {
        position: fixed;
        right: -100%;
        top: 3rem;
        flex-direction: column;
        background-color: var(--third-color);
        width: 100%;
        text-align: center;
        transition: .3s;
        box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    }
    .nav-menu.active {
        right: 0;
    }
    .nav-item {
        margin: 1rem 0;
    }
    .nav > .nav-menu > .nav-item > .nav-link:hover {
        color: var(--secondary-color);
        font-weight: 900;
        box-shadow: none;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .burger.active .bar:nth-child(2){ 
        opacity: 0;
    }

    .burger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .burger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* home section */
.bgImg {
    height: 100vh;
    background: url(../../components/images/hero.jpg);
    background-size: cover;
    position: relative;
}

.homeText {
    font-family: 'Kanit', sans-serif;
    padding: 20px 10px 30px;
    border-radius: 35px;
    position: absolute;
    text-align: center;
    color: var(--secondary-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.shopNow {
    font-family: 'Akshar', sans-serif;
    text-decoration: none;
    padding: 7px 10px;
    background-color: rgba(8.24%, 13.33%, 21.96%, 0.1);
    border: solid 2px var(--secondary-color);
    color: #152238;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 25px;
    transition: .5s;
}
.shopNow:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.homeText > h1 {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 5%;
    /* text-shadow: 0px 0px 15px rgba(195, 197, 202, 0.69); */
    text-shadow: 0px 0px 30px var(--primary-color);
}
@media only screen and (max-width:768px) {
    .homeText > h1 {
        margin-bottom: 10%;
        line-height: 35px;
    }
}

/* about section */
.content {
    display: flex;
    justify-content: center;
    align-content: center;
}
#about {
    padding: 75px 0px 10px;
}
fieldset > legend {
    color: transparent;
    -webkit-text-stroke: 1.2px #0e1624;
    font-size: 1.25em;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
}
fieldset {
    width: 60%;
    align-content: center;
    padding: 4.5px 0 20px;
    border-radius: 25px;
}
.about {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}
.rightText {
    font-family: 'Akshar', sans-serif;
    width: 50%;
    line-height: 25px;
    font-size: 1.1em;
    /* text-align: justify; */
}
.leftPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftPhoto .jewerly {
    width: auto;
    height: auto;
    border: none;
    border-radius: 35px;
    box-shadow: rgba(0,0,0,0.4) 0px 2px 4px, rgba(0,0,0,0.3) 0px 7px 13px -3px, rgba(0,0,0,0.2) 0px -3px 0px inset;
}
.since > h5 {
    text-align: center;
    color: #152238;
    margin: 10px auto 0;
}

@media only screen and (max-width: 768px) {
    .about {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .leftPhoto .jewerly {
        margin: 10px;
    }
    .rightText {
        width: auto;
        padding: 10px;
    }
    fieldset {
        padding: 0 0 5px 0;
    }
}
@media (max-width: 435px) {
    fieldset {
        width: 80%;
    }
}